@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica.ttf') format('truetype'),
    url('./fonts/Helvetica-Bold.ttf') format('truetype');
    font-weight: normal;
}
@media (max-width: 360px) {
    #slideDown {
        font-size: 40%;
    }
    #coverFloat {
        max-width: 50vh;
    }
    #musicTitleFloat {
        font-size: 100%;
    }
    #artistFloat {
        font-size: 90%;
    }
    .duration p {
        font-size: 5%;
    }
    #restart,#loop {
        font-size: 12vw;
    }
    #backward,#pause,#forward {
        font-size: 12vw;
    }
}
@keyframes loading {
    0% {
        background-color: #87CFEB;
    }
    100% {
        background-color: lightblue;
    }
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(lightblue, #87CEEB);
    font-family: 'Helvetica', Sans-Serif;
    color: #fff;
    height: 100dvh;
}
header {
    padding: 20px;
    border-bottom: 1px solid #fff;
    backdrop-filter: blur(5px);
}
i {
    background: none;
    border: none;
}
main {
    padding: 15px;
}
h1,h2,h3,h4 {
    padding-top: 3px;
}
.containerList {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
}
.container {
    width: 14em;
    height: auto;
    border-radius: 4px;
    background: linear-gradient(to bottom right, #87CEEB, lightblue);
    border: 1px solid #fff;
    padding: 10px;
    scroll-snap-align: center;
    transition: all 0.125s;
}
.container:active {
    color: #ddd;
}
img {
    border-radius: 6px;
    width: 100%;
    height: auto;
}
.container img {
    width: 12em;
    height: 12em;
}
.skeletonImg {
    animation: loading 1.25s linear infinite alternate;
}
div button h3 {
    font-family: 'Helvetica', Sans-Serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.errorScreen {
    display: none;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: hsla(0,100%,0%,0.500);
    width: 100dvw;
    height: 100dvh;
}
.errorContainer {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    opacity: 100%;
    padding: 12px;
    text-align: center;
    background-color: lightblue;
    border-radius: 8px;
    border: 1px solid #fff;
}
.errorContainer button {
    border: 1px solid #fff;
    background-color: #87CEEB;
    padding: 10px;
    font-size: 1em;
    border-radius: 4px;
    transition: all 0.5s;
}
.errorContainer button:hover {
    background-color: #65ACC9;
    scale: 1.05;
}
#musicMini {
    visibility: hidden;
    z-index: 2;
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    height: fit-content;
    bottom: -5em;
    background-image: linear-gradient(#87CEEB, lightblue);
    border: 1px solid #fff;
    padding: 10px 10px 5px 10px;
    border-radius: 12px;
    transition: all 0.8s;
}
.closeMusicMini {
    display: block;
    width: 30%;
    height: 3px;
    background-color: #eee;
    border-radius: 4px;
    margin: 5px auto 0 auto;
}
.closeMusicMini:active {
    background-color: #ddd;
}
.musicMiniFlex {
    display: flex;
    gap: 10px;
}
#musicMini.show {
    visibility: visible;
    bottom: 5em;
}
#coverMini {
    width: 3em;
    height: auto;
}
.musicInfo {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.musicInfo h2, .musicInfo p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.audioPlayMini {
    display: flex;
    align-items: center;
    gap: 5px;
}
#backwardMini, #pauseMini, #forwardMini {
    display: inline-block;
    font-size: 2.5rem;
    padding: 3px;
}
#backwardMini:active, #pauseMini:active, #forwardMini:active {
    color: #eee;
}
.musicFloat {
    visibility: hidden;
    background: transparent;
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100dvw;
    height: 100dvh;
    border-radius: 30px 30px 0 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    z-index: 5;
    transform: translateY(100dvh);
    transition: visibility 0.6s, transform 0.6s, backdrop-filter 1.3s;
}
.musicFloat.show {
    visibility: visible;
    transform: translateY(0px);
    backdrop-filter: blur(12px);
}
.showupFlex {
    display: flex;
}
#slideDown:active {
    color: #eee;
}
#durationSlider {
    width: 100%;
}
#coverFloat {
    display: block;
    margin: 5dvh auto 5dvh auto;
    height: auto;
}
.duration {
    display: flex;
    justify-content: space-between;
}
.audioPlay {
    display: flex;
    justify-content: space-evenly;
}
#restart,#loop {
    font-size: 2.5rem;
    padding: 5px;
}
#loop {
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.15s;
}
#loop.active {
    background-color: #fff;
    color: #87CEEB;
}
#backward,#pause,#forward {
    font-size: 4rem;
}
#restart:active,#backward:active,#pause:active,#forward:active {
    color: #eee;
}
button {
    background: none;
    border: none;
    color: #fff;
}
footer {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    border-top: 1px solid #fff;
    background: transparent;
    backdrop-filter: blur(8px);
    bottom: 0;
    padding: 10px;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    z-index: 3;
}
a {
    color: #fff;
    text-decoration: none;
}
footer i {
    font-size: 2em;
    transition: all 0.6s;
}
footer i:hover {
    scale: 1.11;
}

@media (min-width: 768px) {
    main {
        margin: 0 20% 0 20%;
        padding-bottom: 5%;
    }
    .errorContainer {
        width: 15%;
    }
    #musicMini {
        width: 50dvw;
        left: 50%;
    }
    .musicFloat {
        width: clamp(5vh, 50dvh, 40dvw);
        height: auto;
        bottom: 5em;
        top: auto;
        transform: translateY(100dvh);
        transition: visibility 0.8s, transform 0.8s, backdrop-filter 1.5s;
    }
    #musicTitleFloat {
        font-size: clamp(10px, 3dvh, 4dvh);
    }
    #artistFloat {
        font-size: clamp(5px, 2dvh, 3dvh);
    }
    #restart,#loop {
        font-size: clamp(1.5dvh, 5dvh, 3dvw);
    }
    #backward,#pause,#forward {
        font-size: clamp(3dvh, 7dvh, 4.5dvw);
    }
    
@media (min-width: 1024px) {
    .musicFloat {
        transform: translateY(125dvh);
    }
    #musicMini {
        cursor: pointer;
    }
    button {
        cursor: pointer;
    }
}